CONFIG_RISCV=y
CONFIG_RISCV_MMODE=y
CONFIG_SPL=y
CONFIG_SPL_RISCV_MMODE=y
CONFIG_SPL_SMP=n
CONFIG_TARGET_PICOCOM_PC805=y
CONFIG_OF_EMBED=y
CONFIG_DEFAULT_DEVICE_TREE="pc805"
CONFIG_SYS_TEXT_BASE=0x90000000
CONFIG_SPL_LOG_MAX_LEVEL=7
CONFIG_LOG_DEFAULT_LEVEL=7
CONFIG_LOG_ERROR_RETURN=y
# CONFIG_LOG=y
# CONFIG_LOG_DEFAULT_LEVEL=10
# CONFIG_SPL_LOGLEVEL=10
# CONFIG_TPL_LOGLEVEL=10
# CONFIG_LOGLEVEL=10
CONFIG_ENV_SECT_SIZE=0x1000
CONFIG_DISTRO_DEFAULTS=y
CONFIG_BOOTDELAY=3
CONFIG_BOARD_EARLY_INIT_F=y
CONFIG_MISC_INIT_R=y
CONFIG_SYS_PROMPT="PC805 SPL # "
CONFIG_CMD_IMLS=y
CONFIG_CMD_SF=y
CONFIG_CMD_SF_TEST=y
# CONFIG_CMD_SETEXPR is not set
CONFIG_BOOTP_PREFER_SERVERIP=y
CONFIG_CMD_CACHE=y
CONFIG_ENV_OVERWRITE=y
CONFIG_BOOTP_SEND_HOSTNAME=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_FTSDC010=y
CONFIG_FTSDC010_SDIO=y
CONFIG_MTD=y
CONFIG_DM_MTD=y
CONFIG_MTD_SPI_NAND=y
CONFIG_FLASH_CFI_DRIVER=y
CONFIG_SYS_FLASH_USE_BUFFER_WRITE=y
CONFIG_SYS_FLASH_CFI=y
CONFIG_SF_DEFAULT_MODE=0x0
CONFIG_SPI_FLASH=y
CONFIG_SPI=y
CONFIG_DM_SPI
CONFIG_DESIGNWARE_SPI=y
# CONFIG_FTMAC100=y
CONFIG_BAUDRATE=115200
CONFIG_DEBUG_UART=y
CONFIG_DEBUG_UART_NS16550=y
CONFIG_DEBUG_UART_BASE=0x08212000
CONFIG_DEBUG_UART_CLOCK=325000000
CONFIG_DEBUG_UART_SHIFT=2
CONFIG_SYS_NS16550_IER=0
CONFIG_SYS_NS16550=y
CONFIG_RISCV_TIMER=y
CONFIG_MKIMAGE_DTC_PATH="${PWD}/scripts/dtc/dtc"
CONFIG_BOARD_LATE_INIT=y
CONFIG_SPL_CACHE=y
CONFIG_SPL_CACHE_SUPPORT=y
CONFIG_XIP=y
CONFIG_EFI=n
CONFIG_EFI_LOADER=n
CONFIG_CMD_BOOTEFI_SELFTEST=n
CONFIG_CMD_MTD=y
CONFIG_CMD_MTDPARTS=y
CONFIG_FIT=y
CONFIG_SPL_LOAD_FIT_FULL=y


